* {
    margin: 0px;
    padding: 0px;
}
.nav {
    display: flex;
    background-color: grey;
}
.nav-title{
    flex: 1;
    background-color: grey;
    justify-content: space-around;
    align-items: flex-start;
}
.nav-links{
    display: flex;
    background-color: grey;
    justify-content: space-between;
}
.btn {
    background-color: rgb(23,162,184);
    color: white;
    height: 30px;
    width: 80px;
    justify-content: space-around;
}