*{
    padding: 0px;
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
    list-style-type: none;
}

/*Generic Classes */
.d-flex {
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

/*Nav Bar Style*/
.nav-bar {
    background-color: black;
    height: 60px;
    color: white;
    text-decoration: none;
}

.header-left {
    flex: 3;
    padding: 15%;
}

.header-right {
    flex: 1;
}

.header-left ul {
    width: 70%;
    padding-left: 30px;
}

.ul li {
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.btn {
    background-color: rgb(23,162,184);
    color: white;
    width: 90px;
    height: 30px;
}

/* Main section Styling*/

.container {
    height: 900px;
}

.id {
    margin-left: 22%;
    margin-right: 10px;
    margin-top: 20px;
    height: 70%;
    width: 80%;
    border: 2px solid cyan;
}

.education {
    height: 30%;
    width: 80%;
    margin-left: 22%;
    margin-top: 20px;
    border: 2px solid red;
}

.connection {
    margin-right: 20%;
    margin-top: 20px;
    height: 50%;
    width: 70%;
    border: 2px solid greenyellow;
}

.moreConnections {
    margin-top: 20px;
    height: 70%;
    width: 70%;
    border: 2px solid yellow;
}

/*Sighting Border Colors*/

.profile-right {
    margin-left: 40px;
    flex: 2;
    flex-direction: column;
}

.profile-left {
    margin-left: 30px;
    flex: 3;
    flex-direction: column;
}