*{
    padding: 0px;
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
}
/*Generic Classes */
.justify-content-right{
    justify-content: right;
}
.justify-content-left {
    justify-content: left;
}
.d-flex {
    display: flex;
}
.align-items-center{
    align-items: center;
}
/*Nav Bar Style*/
.nav-bar {
    background-color: black;
    height: 60px;
    color: white;
    text-decoration: none;
}
.header-left {
    flex: 3;
    padding: 15%;
}
.header-right {
    flex: 1;
}
.ul li {
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.btn {
    background-color: rgb(23,162,184);
    color: white;
    width: 80px;
    height: 30px;
}