*{
    padding: 0px;
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
    list-style-type: none;
}

/*Generic Classes */

.d-flex {
    display: flex;
}

.align-items-center{
    align-items: center;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.margin-left {
    margin-left: 10%;
}

.flex-column {
    flex-direction: column;
}

.black-header {
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
}

.title {
    width: 50%;
    height: 100%;
    margin-top: 15px;
}

.title2 {
    width: 50%;
    height: 50%;
    margin-top: 5px;
    display: flex;
}

.notification {
    border-radius: 50%;
    background-color: grey;
    width: 30%;
    height: 30px;
}

/*Nav Bar Style*/

.nav-bar {
    background-color: black;
    height: 60px;
    color: white;
    text-decoration: none;
}

.header-left {
    flex: 3;
    padding: 15%;
}

.header-right {
    flex: 1;
}

.header-left ul {
    width: 70%;
    padding-left: 30px;
}

.ul li {
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.btn {
    background-color: rgb(23,162,184);
    color: white;
    width: 90px;
    height: 30px;
    margin-right: 20%;
}

/* Main section Styling*/

.container {
    height: 900px;
}

.id {
    flex-wrap: wrap;
    margin-left: 22%;
    margin-right: 10px;
    margin-top: 20px;
    height: 70%;
    width: 80%;
    border: 2px solid rgb(204,204,204);
    flex-direction: column;
}

.education {
    flex-wrap: wrap;
    height: 30%;
    width: 80%;
    margin-left: 22%;
    margin-top: 20px;
    border: 2px solid rgb(204,204,204);
}

.connection {
    flex-wrap: wrap;
    margin-right: 10%;
    margin-top: 10%;
    height: 50%;
    width: 70%;
    border: 2px solid rgb(204,204,204);
}

.moreConnections {
    flex-wrap: wrap;
    margin-top: 40px;
    height: 70%;
    width: 70%;
    border: 2px solid rgb(204,204,204);
}

/*Main Content Page Layout*/

.profile-right {
    margin-left: 40px;
    flex: 2;
    flex-direction: column;
}

.profile-left {
    margin-left: 30px;
    flex: 3;
    flex-direction: column;
}

/*Id Card Style*/

.blue-header {
    width: 100%;
    height: 30%;
    background-color: rgb(23,162,184); 
}

.profile-pic {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin-left: 10%;
    margin-top: -70px;
}

.map-marker {
    width: 20px;
    height: 20px;
    margin-left: 10%;
}

.settings-icon {
    width: 20px;
    height: 20px;
}

/*Education Stlying*/

.education {
    justify-content: center;
}

.education h2{
    margin-left: 10%;
    justify-content: center;
}

/* Connection Requests */

.connection img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.connection .yay-nay {
    width: 20px;
    height: 20px;
}

.connection .todd{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.connection .phil{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edu-info {
    height: 50%;
    width: 100%;
    justify-content: left;
    justify-content: center;
}

/*Your Connections*/

.ur-connections {
    display: flex;
    flex-direction: column;
}

.ur-connections img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}