.container{
  width: 750px;
  height: 750px;
  display: flex;
  align-items: center;
}
.firstRow {
  background-color: lime;
  justify-content: space-around;
}
.secondRow {
  background-color: lightcoral;
  justify-content: space-around;
}
.thirdRow {
  background-color: rgb(216, 240, 128);
  justify-content: space-around;
}