* {
    padding: 0px;
    margin:  0px;
    font-family: 'Montserrat', sans-serif;
}

/*Common*/
.dflex {
    display: flex;
}

.flexdirection {
    flex-direction: column;
}

/*NavBar*/

.navBar {
    display: flex;
    width: 80%;
    height: 50px;
    background-color: rgb(204,204,204);
    margin: 0px 10% 0px 10%;
    justify-content: space-evenly;
}

#searchBar {
    height: 50%;
    align-items: center;
    margin: 10px;
}

.login {
    height: 50%;
    align-items: center;
    margin: 10px;
    width: 80px;
    background-color: rgb(43,120,228);
    color: white;
}